<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap" rel="stylesheet">
<body>
    <div class="full-body-container">
        <div class="top-text">
            <div class ="coffee-project-title">
                Find Your Coffee ☕
            </div>
            </div>
            <div class="input-box" onclick="sendFocus()">
                <img src="{{ url_for('static', filename='images/mag.png') }}" />
                <input placeholder="Type in a description of your favorite coffee flavors, types, preferences " id="filter-text-val" >
            </div>
            <center>
                <button class="search-button" onClick=filterText()>
                    Search
                </button>
            </center>
            <div>
        </div>
        </div>
        <!-- need answer box or else no results appear -->
        <div id="answer-box">
        </div>
    </div>

    <script>

        function answerBoxTemplate(coffee_name, description, sim_score){
            return `<div class=''>
                <h3 class='coffee-title'>${coffee_name}</h3>
                <p class='coffee-desc'>Description: ${description}</p>
                <p class='similarity-score'>Score: ${sim_score}</p>
            </div>`
        }

        function sendFocus(){
            document.getElementById('filter-text-val').focus()
        }

        function filterText(){
            document.getElementById("answer-box").innerHTML = ""
            // console.log(document.getElementById("filter-text-val").value)
            fetch("/coffee?" + new URLSearchParams({ title: document.getElementById("filter-text-val").value }).toString())
            .then((response) => response.json())
            .then((data) => data.forEach(row => {
                let tempDiv = document.createElement("div")
                tempDiv.innerHTML = answerBoxTemplate(row.coffee_name,row.description, row.sim_score)
                document.getElementById("answer-box").appendChild(tempDiv)
            }));

        }
            
    </script>
</body>

