<!DOCTYPE html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<body>
  <div class="full-body-container">
    <div class="top-text">
      <div class="coffee-project-title">Find Your Coffee ☕</div>
    </div>
    <div id="flavor-options"></div>

    <div class="input-box" onclick="sendFocus()">
      <img src="{{ url_for('static', filename='images/mag.png') }}" />
      <input
        placeholder="Type in a description of your favorite coffee flavors, types, preferences "
        id="filter-text-val"
      />
    </div>

    <div class="filter-container">
      <p class="coffee-desc filter-text">Filter by roast level:</p>
      <select id="roast-select">
        <option value="Any">Any</option>
        <option value="Very Dark">Very Dark</option>
        <option value="Dark">Dark</option>
        <option value="Medium">Medium</option>
        <option value="Medium-Light">Medium-Light</option>
        <option value="Light">Light</option>
      </select>
    </div>

    <div class="filter-container">
      <p class="coffee-desc filter-text">Filter by max price:</p>
      <input
        type="range"
        id="price-select"
        name="price-select"
        min="0"
        max="75"
        value="75"
        onchange="changePrice()"
      />
      <p class="coffee-desc margin-left" id="price-label">$ 75</p>
      <span class="small-text coffee-desc"> / 340 grams (12 ounces)</span>
    </div>
    <button class="search-button" onClick="filterText()">Search</button>
    <div></div>
  </div>
  <!-- need answer box or else no results appear -->
  <div id="answer-box"></div>

  <script>
    let flavors = [
      { name: "fruit", state: false },
      { name: "sweet", state: false },
      { name: "chocolate", state: false },
      { name: "floral", state: false },
      { name: "dark", state: false },
      { name: "cedar", state: false },
      { name: "zest", state: false },
      { name: "juicy", state: false },
      { name: "tart", state: false },
      { name: "almond", state: false },
    ];

    function changePrice() {
      const priceSelect = document.getElementById("price-select");
      const priceLabel = document.getElementById("price-label");
      priceLabel.innerText = `$ ${priceSelect.value}`;
    }

    function handleOption(index) {
      const button = document.getElementById(`flavor${index}`);
      flavors[index].state = !flavors[index].state;

      if (flavors[index].state) {
        button.classList.toggle("clicked");
      } else {
        button.classList.toggle("clicked");
      }
    }

    document.getElementById("flavor-options").innerHTML = flavors
      .map((flavor, index) => {
        return `<button id=flavor${index} class=flavor-option>
            ${flavor.name}
        </button>`;
      })
      .join(" ");

    flavors.map((obj, index) => {
      document
        .getElementById(`flavor${index}`)
        .addEventListener("click", function () {
          handleOption(index);
        });
    });

    function answerBoxTemplate(
      coffee_name,
      roaster_name,
      description,
      sim_score,
      social_score,
      link,
      price,
      roast_level
    ) {
      return `<div class='border-box'>
                    <h3 class='coffee-title'>${coffee_name}</h3>
                    <p class='coffee-desc'><span class='bold'>Roaster</span>: ${roaster_name}</p>
                    <p class='coffee-desc'>${description}</p>
                    <br />
                    <p class='coffee-desc'><span class='bold'>Price</span>: ${price}</p>
                    <p class='coffee-desc'><span class='bold'>Roast Level</span>: ${roast_level}</p>
                    <p class='coffee-desc'><span class='bold'>Similarity score</span>: ${
                      sim_score != 0
                        ? sim_score
                        : "0 - Type a description or like/dislike coffees to see similarity score!"
                    }</p>
                    <p class='coffee-desc'><span class='bold'>Roaster score (from r/coffee)</span>: ${social_score}</p>
                    <a href=${link} target="_blank" class='coffee-desc'>${link}</a>
                    <br />
                    <p>Similarity score: ${sim_score}</p>
                    <p>Reddit score: ${social_score}</p>
                    <button class="fa fa-thumbs-up" onclick='thumbsFeedback(true, "${coffee_name}")'></button>
                    <button class="fa fa-thumbs-down" onclick='thumbsFeedback(false, "${coffee_name}")'></button>
            </div> `;
    }

    function sendFocus() {
      document.getElementById("filter-text-val").focus();
    }

    function testFunction() {
      console.log("testing");
    }

    function thumbsFeedback(isRelevant, coffee_name) {
      console.log("gotten data", isRelevant, coffee_name);
      document.getElementById("answer-box").innerHTML = "";
      fetch("/relevance-update", {
        method: "POST",
        body: JSON.stringify({
          title: document.getElementById("filter-text-val").value,
          coffee_name: coffee_name,
          relevant: isRelevant,
        }),
      }).then((response) => response.json());
      filterText();
    }

    function filterText() {
      let selected_flavors = [];
      flavors.map((obj) => {
        if (obj.state) {
          selected_flavors.push(obj.name);
        }
      });

      let selected_roast = document.getElementById("roast-select").value;
      let selected_price = document.getElementById("price-select").value;

      document.getElementById("answer-box").innerHTML = "";
      fetch(
        "/coffee-SVD?" +
          new URLSearchParams({
            title: document.getElementById("filter-text-val").value,
            selected_flavors: selected_flavors,
            roast: selected_roast,
            price: selected_price,
          }).toString()
      )
        .then((response) => response.json())
        .then((data) => {
          if (data.length == 0) {
            let noResults = document.createElement("div");
            noResults.innerHTML = `<div>
                    <h3>No results found. Please try another query or use different filters.</h3>
                    </div>`;
            document.getElementById("answer-box").appendChild(noResults);
          } else {
            for (let i = 0; i < 10; i++) {
              const row = data[i];
              let tempDiv = document.createElement("div");

              tempDiv.innerHTML = answerBoxTemplate(
                row.coffee_name,
                row.roaster,
                row.description,
                row.sim_score,
                row.social_score,
                row.link,
                row.price,
                row.roast_level
              );
              document.getElementById("answer-box").appendChild(tempDiv);
            }
          }
        });
    }
  </script>
</body>
